*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("https://static.wixstatic.com/media/c2bc9a_996c8fdd9e8d4745bae0a1688c1db703~mv2.gif");
}

#ProductCard, #Highlights, #login, #signup {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#carouselHighlights{
  max-height: 100%
}
